.myBtn{
    margin-left: 5px;
    width: 60px;
    height: 25px;
    background: rgb(120, 223, 230);
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    border: 1px;
    transition: all .3s ease-in-out;

}

.myBtn:hover{
    color: rgb(230, 120, 120);
    background: #fff;
    border: 1px solid;
}